.main {
    background-color: #13141b;
    height: auto;
}

.main__image {
    position: relative;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    mask-image: linear-gradient(rgb(40, 44, 52) 55%, transparent 93%);

}


.description {
    position: absolute;
    top: 2rem;
    color: #d9d9d9;
    padding: 10px;
    font-family: "Rye", sans-serif;
}


.main__buttons {
    /*position: absolute;*/
    /*top: 35rem;*/
    /*left: 45%;*/
}

.main__image__container__items {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.main__item__description__and__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}