.App {
  text-align: center;
  background-color: #13141b;
}

.header {
  height: 10vh;
  color: white;
}
h1, h2 {
  font-family: Abril Fatface, sans-serif;
}

h1 {
  font-size: 114px;
  color: whitesmoke;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 80px;
  }
}

@media (max-width: 745px) {
  h1 {
    font-size: 54px;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 44px;
  }
}

/*.first-color {*/
/*  background: #141829;*/
/*}*/

/*.second-color {*/
/*  background: #21294c;*/
/*}*/

/*.third-color {*/
/*  background: #f2dea8;*/
/*}*/

/*.fourth-color {*/
/*  background: #f9f2d7;*/
/*}*/