.App {
  text-align: center;
  background-color: #13141b;
}

.header {
  height: 10vh;
  color: white;
}
h1, h2 {
  font-family: Abril Fatface, sans-serif;
}

h1 {
  font-size: 114px;
  color: whitesmoke;
}
/*.first-color {*/
/*  background: #141829;*/
/*}*/

/*.second-color {*/
/*  background: #21294c;*/
/*}*/

/*.third-color {*/
/*  background: #f2dea8;*/
/*}*/

/*.fourth-color {*/
/*  background: #f9f2d7;*/
/*}*/